.fullDetails {
    width: 100%;
    height: 100%;
}

.detailTop {
}
.detailButtons {
    margin-top: 10px;
    text-align: center;
}

.detailItem {
    text-align: center;
}
.detailItemHeader {
    font-size: 16px;
    font-weight: bold;
}
.detailItemDescription {
    border-bottom: solid 1px black;
}