a {
    
}

.dashboardItem {
    background: lightblue;
    font-size: 43px;
    color: black;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.dashboardItem:hover {
    background: lightyellow;
}

.header, .footer {
    background: blue;
    text-align: center;
}

.header {
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    font-size: 13px;
    left: 15px;
    right: 15px;
}