<div ng-controller="detailsCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12">
                <img src="../res/image/theworld.jpg" class="detailMap"/>
            </div>
        </div>
    </div>
    <div class="row detailTop">
        <div class="col-md-12">
            <div class="col-xs-12 detailItemHeader">
                <div>{{selectedItem.title}}</div>
            </div>
            <div class="col-xs-12">
                <div>{{selectedItem.locationNear}}</div>
            </div>
        </div>
    </div>
    <div class="row detailButtons">
        <div class="col-md-12">
            <div class="col-xs-4">
                <b><input class="btn btn-default" type="button" value="Afvist" ng-click="$event.stopPropagation();"></b>
            </div>
            <div class="col-xs-4">
                <b><input class="btn btn-default" type="button" value="Start" ng-click="$event.stopPropagation();"></b>
            </div>
            <div class="col-xs-4">
                <b><input class="btn btn-default" type="button" value="Afslut" ng-click="$event.stopPropagation();"></b>
            </div>
        </div>
    </div>
    <div class="row detailItemDescription">
        <div class="col-md-12">
            <div class="col-xs-12">
                a as in father
                ae as ey in they
                e (when closed in by consonants) as e in met
                e (at the end of a syllable) as ey in they
                i as i in machine
                o as o in note
                oe as ey in they
                u as oo in boot
                y as i in machine
                Consonants
                j as y in yes
                Consonants before ae-e-o-i-y:
                c as ch in chain
                cc as tch in match
                sc as sh in sheep
                g as g in gentle
                Consonants in other cases:
                c as c in cot
                cc as cc in accord
                sc as sc in tabasco
                g as g in go
            </div>
        </div>
    </div>
</div>