<div ng-swipe-down="showLess()">
    <button type="button" class="btn btn-default pull-left" aria-label="Left Align" ng-click="showLess()">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
    <span class="pull-left">{{selectedItem.friendlyId}}</span>
</div>
<div>
    <div id="map-more" class="map-more"></div>
</div>
<div>
    <div>
        <strong>{{selectedItem.title}}</strong>
    </div>
    <div>
        <input class="btn btn-default" type="button" value="Afvist" ng-click="$event.stopPropagation();">
        <input class="btn btn-default" type="button" value="Start" ng-click="$event.stopPropagation();">
    </div>
</div>
