<div ng-controller="HomeCtrl">
    <div class="header">DriftWeb DashBoard</div>
    <div class="col-md-10 col-md-offset-1">
        <a href="#/list"><div class="col-md-5 col-md-offset-1 dashboardItem">Driftweb List</div></a>
        <a href="#/map"><div class="col-md-5 dashboardItem">Driftweb Map</div></a>
    	<div class="col-md-5 col-md-offset-1 dashboardItem">Driftweb Test123</div>
    	<div class="col-md-5 dashboardItem">Driftweb Test456</div>
    </div>
    <div class="footer">V 0.0.1</div>
</div>
