<div ng-controller="HomeCtrl">
    <div class="header">DriftWeb DashBoard</div>
    <div class="col-md-12">
        <a href="#/list"><div class="col-xs-6 dashboardItem">Driftweb List</div></a>
        <a href="#/map"><div class="col-xs-6 dashboardItem">Driftweb Map</div></a>
        <a href="#/details"><div class="col-xs-6 dashboardItem">Driftweb Details</div></a>
        <a href="#/list1"><div class="col-xs-6 dashboardItem">Driftweb List1</div></a>
    </div>
    <div class="footer">V 0.0.1</div>
</div>
